<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Table</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/manager.css' %}">
</head>
<body>
    <h1>Data</h1>
    <div id="manage">
        {{ table_html|safe }}
        <button class="state-button" data-tenure="12" data-totalcharges="1500">Show Graph</button>
    </div>

    <script src="{% static 'js/manager.js' %}"></script>
</body>
</html>
